.profile-page-container {
    background-color: #f7fafc;
    min-height: 100vh;
  }
  
  .profile-main {
    padding: 1rem;
  }
  
  .profile-header {
    background-color: #f5f5f5;;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }
  
  .profile-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1rem;
  }
  
  .profile-info {
    color: #333333;
    margin-bottom: 1rem;
  }
  
  .profile-reservations {
    color: #333333;
  }
  
  .reservation-list {
    list-style: disc;
    padding-left: 1.5rem;
  }
  
  .reservation-item {
    margin-bottom: 1rem;
  }
  
  .reservation-card {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-info {
    color: #333333;
    margin-bottom: 0.5rem;
  }
  
  .reservation-amount {
    color: #007bff;
    font-weight: bold;
  }
  
  .card-info {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .card-info:hover {
    color: #0056b3;
  }